# Crear Target

## Ejercicio 1:
Cree el archivo `competencia_01.csv`, usando el `competencia_01_crudo.csv` con una variable adicional llamada `clase_ternaria`, que contenga las categorías **CONTINUA**, **BAJA+1** y **BAJA+2** 

### Ayudita 

Para practicar el muy útil y necesario lenguaje **SQL**, vamos a utilizar una base de datos **OLAP** llamada **DuckDB**. 

La documentación la puede encontrar [aquí](https://duckdb.org/docs/archive/0.8.1/sql/introduction)
Procedemos a instalarla, esto se debe ejecutar una sola vez

Configuramos el entorno de ejecución. Si ya tiene todo instalado, solo necesita ejecutar esta celda para empezar a usar **duckdb**

In [1]:
!pip install jupysql
!pip install duckdb-engine

Requirement already satisfied: jupysql in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (0.10.0)
Requirement already satisfied: prettytable in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (3.8.0)
Requirement already satisfied: ipython in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (8.14.0)
Requirement already satisfied: sqlalchemy in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (2.0.20)
Requirement already satisfied: sqlparse in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (17.14.2)
Requirement already satisfied: jinja2 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (3.1.2)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (0.2.14)
Requirement already satisfied: click in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied: backcall in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: decorator in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.19.0)
Requirement already satisfied: matplotlib-inline in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (2.16.1)
Requirement already satisfied: stack-data in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (5.9.0)
Requirement already satisfied: colorama in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: wcwidth in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from prettytable->jupysql) (0.2.6)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy->jupysql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->jupysql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->jupysql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->jupysql) (0.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: duckdb-engine in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (0.9.2)
Requirement already satisfied: duckdb>=0.4.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from duckdb-engine) (0.8.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from duckdb-engine) (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (2.0.2)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install duckdb

Requirement already satisfied: duckdb in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (0.8.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:default:

Y ya podemos usar **SQL** dentro de una notebook!

In [5]:
%%sql
select 'hola mundo'

  'hola mundo'
0   hola mundo

Para cargar el archivo `.csv` a una tabla:

In [5]:
%%sql
create or replace table competencia_01 as 
select 
    *
from read_csv_auto('C:\Users\Kalou\OneDrive\Escritorio\DMEyF\datasets\competencia_01_crudo.csv')

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

Hagamos unas queries básicas para comprobar que todo esta funcionando bien.

In [7]:
%sql select * from competencia_01 limit 5

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,29183981,202103,1,0,0,50,197,14468.81,125765.29,2389.82,...,0.0,7,0.00,-114954.00,0.00,5938,101050.66,68,0,71811.06
1,29184630,202103,1,0,0,59,322,11901.57,74158.93,18750.68,...,0.0,1,0.00,-40330.15,17.59,4089,26834.09,7,0,3894.36
2,29185433,202103,1,0,0,68,268,847.15,21672.47,481.62,...,0.0,21,4692.00,-1173.00,0.00,7829,1651.36,3,0,1560.09
3,29185587,202103,1,0,0,79,322,4976.94,47735.98,1839.31,...,0.0,1,0.00,-15988.67,0.00,7580,30025.29,11,0,1700.85
4,29185646,202103,1,0,0,60,257,2860.45,37800.71,4035.40,...,0.0,21,380616.14,-97383.25,0.00,7827,359610.70,31,0,15600.90

In [8]:
%%sql
select 
    foto_mes
    , count(*) as cantidad -- cuenta cuantos casos hay en cada foto_mes 
                           -- y lo guarda en un campo llamado cantidad
from competencia_01
group by foto_mes

   foto_mes  cantidad
0    202103    163324
1    202104    163637
2    202105    164102

Perfecto, ahora cree una nueva tabla con la variable adicional que se le pide. Algunas funciones que le pueden ser útiles:  [where](https://duckdb.org/docs/sql/query_syntax/where), [left join](https://duckdb.org/docs/sql/query_syntax/from), [case statement](https://duckdb.org/docs/sql/expressions/case)

In [19]:
%%sql --save tabla_202103, tabla_202104, tabla_202105 --no-execute
with tabla_202103 as (select numero_de_cliente from competencia_01 
     where foto_mes = '202103'), 
tabla_202104 as (select numero_de_cliente from competencia_01 
     where foto_mes = '202104'
),
tabla_202105 as (select numero_de_cliente from competencia_01 
     where foto_mes = '202105'
)

Skipping execution...

In [6]:
%%sql 
CREATE OR REPLACE TABLE competencia_01_v2 AS
SELECT n.*,r.*
FROM competencia_01 n
LEFT JOIN (select numero_de_cliente,case 
  when numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202103') and  numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202104') and numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202105') then 'CONTINUA'
  when numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202103') and numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202104') and numero_de_cliente not in (select numero_de_cliente from competencia_01 
     where foto_mes = '202105') then 'BAJA+2'
  when numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202103') and numero_de_cliente not in (select numero_de_cliente from competencia_01 
     where foto_mes = '202104') then 'BAJA+1'
   when numero_de_cliente not in (select numero_de_cliente from competencia_01 
     where foto_mes = '202103') and numero_de_cliente  in (select numero_de_cliente from competencia_01 
     where foto_mes = '202104') and numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202105') then 'CONTINUA'
   when numero_de_cliente not in (select numero_de_cliente from competencia_01 
     where foto_mes = '202103') and numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202104') and numero_de_cliente not in (select numero_de_cliente from competencia_01 
     where foto_mes = '202105') then 'BAJA+1'
   when numero_de_cliente not in (select numero_de_cliente from competencia_01 
     where foto_mes = '202103') and numero_de_cliente not in (select numero_de_cliente from competencia_01 
     where foto_mes = '202104') and numero_de_cliente in (select numero_de_cliente from competencia_01 
     where foto_mes = '202105') then 'CONTINUA'
  else 'revisar' end as Etiqueta
    from competencia_01 
    where foto_mes = '202103') as r
on n.numero_de_cliente = r.numero_de_cliente

Empty DataFrame
Columns: [Success]
Index: []

In [7]:
%%sql 

COPY competencia_01_v2 TO 'C:\Users\Kalou\OneDrive\Escritorio\DMEyF\datasets\competencia_01.csv' (HEADER, DELIMITER ',');

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

## Ejercicio 1.1

* ¿Cuál es la nominalidad de cada clase?
* ¿Cuál es la proporción del target?

In [ ]:
%%sql
-- introduzca sus queries

Para guardar a un **.csv** simplemente debe ejecutar la siguiente sentencia

In [ ]:
%%sql
COPY competencia_01 TO '/home/aleb/dmeyf23/datasets/competencia_01.csv' (FORMAT CSV, HEADER)

## Ejercicio 2 - Avanzado
Use ahora el archivo `ejercicio_target.csv` y calcule para todos los clientes en todos los periodos su **clase_ternaria** al mismo tiempo

In [12]:
%%sql
create or replace table competencia_target as 
select 
    *
from read_csv_auto('C:\Users\Kalou\OneDrive\Escritorio\DMEyF\datasets\ejercicio_target.csv')

Empty DataFrame
Columns: [Success]
Index: []

In [16]:
%%sql --save first_cte 

SELECT periodo
    , nombre
    , CASE WHEN (lead(nombre, 2,0) = nombre) AND (lead(periodo, 2,0) - periodo = 2) THEN 'Continua'
            WHEN (lead(nombre, 1,0) = nombre) AND (lead(periodo, 1,0) - periodo > 1) THEN 'Baja+1'
            WHEN (lead(nombre, 1,0) <> nombre) THEN 'Baja+1'
            WHEN (lead(nombre, 2,0) = nombre) AND (lead(periodo, 2,0) - periodo > 2) THEN 'Baja en 2 meses'
            WHEN (lead(nombre, 2,0) <> nombre) THEN 'Baja en 2 meses'
            END AS 'clase_ternaria'
from competencia_target
order by nombre, periodo asc

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(duckdb.CatalogException) Catalog Error: Scalar Function with name lead does not exist!
Did you mean "lpad"?
LINE 3:     , CASE WHEN (lead(nombre...
                         ^
[SQL: SELECT periodo
    , nombre
    , CASE WHEN (lead(nombre, 2,0) = nombre) AND (lead(periodo, 2,0) - periodo = 2) THEN 'Continua'
            WHEN (lead(nombre, 1,0) = nombre) AND (lead(periodo, 1,0) - periodo > 1) THEN 'Baja+1'
            WHEN (lead(nombre, 1,0) <> nombre) THEN 'Baja+1'
            WHEN (lead(nombre, 2,0) = nombre) AND (lead(periodo, 2,0) - periodo > 2) THEN 'Baja en 2 meses'
            WHEN (lead(nombre, 2,0) <> nombre) THEN 'Baja en 2 meses'
            END AS 'clase_ternaria'
from competencia_target
order by nombre, periodo asc]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community