# Crear Target

## Ejercicio 1:
Cree el archivo `competencia_01.csv`, usando el `competencia_01_crudo.csv` con una variable adicional llamada `clase_ternaria`, que contenga las categorías **CONTINUA**, **BAJA+1** y **BAJA+2** 

### Ayudita 

Para practicar el muy útil y necesario lenguaje **SQL**, vamos a utilizar una base de datos **OLAP** llamada **DuckDB**. 

La documentación la puede encontrar [aquí](https://duckdb.org/docs/archive/0.8.1/sql/introduction)
Procedemos a instalarla, esto se debe ejecutar una sola vez

Configuramos el entorno de ejecución. Si ya tiene todo instalado, solo necesita ejecutar esta celda para empezar a usar **duckdb**

In [1]:
!pip install jupysql
!pip install duckdb-engine

Requirement already satisfied: jupysql in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (0.10.0)
Requirement already satisfied: prettytable in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (3.8.0)
Requirement already satisfied: ipython in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (8.14.0)
Requirement already satisfied: sqlalchemy in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (2.0.20)
Requirement already satisfied: sqlparse in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (17.14.2)
Requirement already satisfied: jinja2 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (3.1.2)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jupysql) (0.2.14)
Requirement already satisfied: click in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied: backcall in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: decorator in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.19.0)
Requirement already satisfied: matplotlib-inline in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (2.16.1)
Requirement already satisfied: stack-data in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (5.9.0)
Requirement already satisfied: colorama in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from ipython->jupysql) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: wcwidth in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from prettytable->jupysql) (0.2.6)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy->jupysql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->jupysql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->jupysql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->jupysql) (0.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: duckdb-engine in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (0.9.2)
Requirement already satisfied: duckdb>=0.4.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from duckdb-engine) (0.8.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from duckdb-engine) (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (2.0.2)

In [2]:
pip install duckdb

Requirement already satisfied: duckdb in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (0.8.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\kalou\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:default:

Y ya podemos usar **SQL** dentro de una notebook!

In [5]:
%%sql
select 'hola mundo'

  'hola mundo'
0   hola mundo

Para cargar el archivo `.csv` a una tabla:

In [6]:
%%sql
create or replace table competencia_02 as 
select 
    *
from read_csv_auto('C:\Users\Kalou\OneDrive\Escritorio\DMEyF\TareasHogar\Primera entrega\competencia_02_crudo.csv')

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

Hagamos unas queries básicas para comprobar que todo esta funcionando bien.

In [7]:
%sql select * from competencia_02 limit 5

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,29183981,201901,1,0,1,48,171,8304.31,42993.54,2501.04,...,0.0,8,0.00,-35773.32,2.33,5148,36602.13,54,0,5008.71
1,29184630,201901,1,0,1,57,296,18318.76,42597.26,14986.76,...,0.0,1,0.00,-67414.82,1149.57,3299,28503.06,10,0,1395.87
2,29185587,201901,1,0,1,77,296,20862.84,85481.31,4228.40,...,0.0,1,0.00,0.00,0.00,6790,5170.25,2,0,0.00
3,29185646,201901,1,0,1,58,231,25218.94,165317.78,4474.25,...,0.0,22,69653.59,-59422.00,0.00,7037,67991.90,31,0,2897.31
4,29187499,201901,1,0,1,69,349,5307.54,32374.08,4706.22,...,0.0,8,0.00,-4802.21,0.00,7596,4851.93,3,0,492.66

In [8]:
%%sql
select 
    foto_mes
    , count(*) as cantidad -- cuenta cuantos casos hay en cada foto_mes 
                           -- y lo guarda en un campo llamado cantidad
from competencia_02
group by foto_mes

    foto_mes  cantidad
0     201901    124864
1     201902    125898
2     201903    126536
3     201904    127059
4     201905    127683
5     201906    129181
6     201907    130551
7     201908    132615
8     201909    134267
9     201910    136515
10    201911    138438
11    201912    140468
12    202001    143762
13    202002    146851
14    202003    148989
15    202004    149484
16    202005    150874
17    202006    153386
18    202007    155348
19    202008    156667
20    202009    158031
21    202010    159477
22    202011    160493
23    202012    161133
24    202101    161711
25    202102    162364
26    202103    163324
27    202104    163637
28    202105    164102
29    202106    164420
30    202107    164682

In [9]:
%%sql
create or replace table targets AS
WITH aux AS  (
    SELECT numero_de_cliente, foto_mes,
    (foto_mes//100-2019)*12+foto_mes%100 as mes,
    IF(foto_mes = (select max(foto_mes) from competencia_02) , -1, lead(mes,1,0) OVER (PARTITION BY "numero_de_cliente" ORDER BY numero_de_cliente, mes)) AS 'mes+1',
    IF(foto_mes = (select max(foto_mes) from competencia_02) OR foto_mes = ((select max(foto_mes) from competencia_02)-1), -1,lead(mes,2,0) OVER (PARTITION BY "numero_de_cliente" ORDER BY numero_de_cliente, mes)) AS 'mes+2',
    FROM
       competencia_02
    ORDER BY numero_de_cliente, foto_mes)
SELECT numero_de_cliente, foto_mes,
CASE
    -- Condiciones de borde:
    WHEN ("mes+1"==-1) THEN 'CONTINUA'
    WHEN ("mes+2"==-1) THEN 'CONTINUA'
    -- Si mes siguiente no es consecutivo o no existe:
    WHEN ("mes"+1 != "mes+1") THEN 'BAJA+1'
    WHEN ("mes"+2 != "mes+2") THEN 'BAJA+2'
    -- si proximos 2 meses consecutivos activos:
    ELSE 'CONTINUA' END AS "clase_ternaria"
FROM aux
LEFT JOIN competencia_02 c USING (numero_de_cliente, foto_mes);

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [10]:
%%sql
alter table competencia_02 add column clase_ternaria VARCHAR(10)

Empty DataFrame
Columns: [Success]
Index: []

In [11]:
%%sql
update competencia_02
set clase_ternaria = targets.clase_ternaria
from targets
where competencia_02.numero_de_cliente = targets.numero_de_cliente and competencia_02.foto_mes = targets.foto_mes;

Empty DataFrame
Columns: [Success]
Index: []

In [12]:
%%sql
select clase_ternaria, count(*)
from competencia_02
group by clase_ternaria

  clase_ternaria  count_star()
0       CONTINUA       4524980
1         BAJA+2         18987
2         BAJA+1         18843

In [13]:
%%sql
copy competencia_02 to 'C:\Users\Kalou\OneDrive\Escritorio\DMEyF\datasets\competencia_02.csv'(FORMAT CSV, HEADER)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []